*{
    margin: 0;
    padding: 0;
}
.bg-header{
    background-color: #ffe6ff;
}
.bg-fundo{
    background-color: #ffe6ff;
}
.bt-color{
    background-color: palevioletred;
}
img{
    width: 30rem;
    margin: 1rem;
    height: 20rem;
}
carousel{
    width: 30rem;
}
card-body{
    background-color: #ffe6ff;
}
.footer-bg{
    background-color: $pink-200;
}

@media only screen and (max-width: 990px) {
    .borTop{
        border-top: 1px solid #dee2e6 !important;
    }
    .borBottom{
        border-bottom: 1px solid #dee2e6 !important;
    }
    .footer{
        top: 230rem;
    }    
}